<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Call logs
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="call">
      <ion-segment-button value="in" (click)="getContacts('type','1','==')">
        In
      </ion-segment-button>
      <ion-segment-button value="out" (click)="getContacts('type','2','==')">
        Out
      </ion-segment-button>
      <ion-segment-button value="missed" (click)="getContacts('type','3','==')">
        Missed
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="call">
      <ion-list *ngSwitchCase="'in'">
        <ion-list-header>Last one hour</ion-list-header>
          <ion-card  *ngFor="let contact of recordsFound">
            <ion-item>
              <strong *ngIf="contact['name']">{{contact["name"]}}</strong>
              <strong *ngIf="!contact['name']">Unknown</strong>
              <h6>{{contact["number"]}}</h6>
              <ion-note item-end>
                {{formateDate(contact["date"])}}
              </ion-note>
            </ion-item>
          </ion-card>
      </ion-list>

      <ion-list *ngSwitchCase="'out'">
        <ion-list-header>Last one hour</ion-list-header>
          <ion-card  *ngFor="let contact of recordsFound">
            <ion-item>
              <strong *ngIf="contact['name']">{{contact["name"]}}</strong>
              <strong *ngIf="!contact['name']">Unknown</strong>
              <h6>{{contact["number"]}}</h6>
              <ion-note item-end>
                {{formateDate(contact["date"])}}
              </ion-note>
            </ion-item>
          </ion-card>
      </ion-list>
      <ion-list *ngSwitchCase="'missed'">
        <ion-list-header>Last one hour</ion-list-header>
          <ion-card  *ngFor="let contact of recordsFound">
            <ion-item>
              <strong *ngIf="contact['name']">{{contact["name"]}}</strong>
              <strong *ngIf="!contact['name']">Unknown</strong>
              <h6>{{contact["number"]}}</h6>
              <ion-note item-end>
                {{formateDate(contact["date"])}}
              </ion-note>
            </ion-item>
          </ion-card>
      </ion-list>
    </div>
</ion-content>
